body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}
*:focus{
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}
.site-header{
  display: flex;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.logo-link{
  transition: opacity 0.4 ease;

}
.logo-link:hover{
opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
  }
,site-header-action{
display: flex;
align-items: center;
}
.sitenav-list{
  padding: 0;
  display: flex;
list-style: none;
}
.sitenav-list a{
  text-decoration: none;
}
.sitenav-link{
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
 color: #000;
 transition: color 0.4s ease,
 opacity 0.4s ease;
}
.sitenav-link:hover{
  color:#FF7500 ;
}
.sitenav-link:active{
  opacity: 0.6s;
}
.main-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
padding: 12px 24px;
font-size: 13px;
line-height: 15px;
font-weight: bold;
background-color: #FF7500;
color: #fff;
transition: opacity 0.4s ease;
}
.main-link:hover{
opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
  }
.hero{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff;
}
.hero-content{
  width: 390px;
}
.orange-line{
  border: none;
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}
.hero-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;

}
.hero-img{
  border-radius: 8px;
  width: 510px;
  height: 510px;
}
.feature-heading{
  width: 440;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}
.feature{
  padding-top: 210px;
  padding-bottom: 210px;
  width: 340px;
}
.feature-list{
  padding: 0;
  width: 340px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.feature-icon-wrapper{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;

background-color:rgba(255, 117, 0, 0.2)
}
.feature-title{
  font-size: 24px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

ine-height: 120%;
letter-spacing: 0.5px;
}
.feature-info{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff;
}
.promo-content{
  width: 340px;
}
.promo-heading{
  width: 440px;
  font-size: 40px;
  line-height: 120%;
letter-spacing: 0.5px;
font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}
.promo-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.promo-highligh{
color: #FF7500;
}
.promo-img{
  border-radius: 12px;
  width: 440px;
  height: 440px;
  object-fit: cover;

}
.site-foter{
  padding-top: 56px;
  padding-bottom: 56px;
background-color: aliceblue;
}
.site-foter-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-foter ul{
  padding: 0;
  list-style: none;
}
.site-foter-socials{
  padding: 0;
  display: flex;
  align-items: center;
}
.site-foter-socials a{
  color: #252420;
  }
.site-foter-socials a:hover{
color: #FF7500;
}
.site-foter-divide{
  border: 0;
height: 2px;
  background-color: rgba(37, 36, 32, 0.50);;
}
.site-foter-bootom{
display: flex;
}
.site-foter-links{
  width: 224px;
}
.site-foter-links a{
  text-decoration: none;
}
.site-foter-links{

  font-size: 16px;
  line-height: 19px;
  columns: #252420;

}
.site-foter-links:hover{
  color: #FF7500;
}
.site-foter-links:active{
opacity: 0.6;
}
.color {
 color: #FF7500;

}
