body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}
.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.logo-link{
  transition: opacity 0.4 ease;

}
.logo-link:hover{
opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
  }
,site-header-action{
display: flex;
align-items: center;
}
.sitenav-list{
  display: flex;
list-style: none;
text-decoration: none;
}
.sitenav-link{
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
 color: #000;
 transition: color 0.4s ease,
 opacity 0.4s ease;
}
.sitenav-link:hover{
  color:#FF7500 ;
}
.sitenav-link:active{
  opacity: 0.6s;
}
.main-link{
font-size: 13px;
line-height: 15px;
background-color: #FF7500;
color: #fff;
transition: opacity 0.4s ease;
}
.main-link:hover{
opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
  }
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff;
}
.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}
.hero-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;

}
.hero-img{
  width: 510px;
  height: 510px;
}
.feature-heading{
  width: 440;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.feature-list{
  width: 340px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.feature{
  width: 340px;
}
.feature-icon-wrapper{
  width: 340px;

background-color:rgba(255, 117, 0, 0.2)
}
.feature-title{
  font-size: 24px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

ine-height: 120%;
letter-spacing: 0.5px;
}
.feature-info{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff;
}
.promo-content{
  width: 340px;
}
.promo-heading{
  width: 440px;
  font-size: 40px;
  line-height: 120%;
letter-spacing: 0.5px;
font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}
.promo-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.promo-highligh{
color: #FF7500;
}
.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;

}
.site-foter{
background-color: aliceblue;
}
.site-foter-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-foter ul{
  list-style: none;
}
.site-foter-socials{
  display: flex;
  align-items: center;
}
.site-foter-socials a{
  color: #252420;
  }
.site-foter-socials a:hover{
color: #FF7500;
}
.site-foter-divide{
height: 2px;
  background-color: rgba(37, 36, 32, 0.50);;
}
.site-foter-bootom{
display: flex;
}
.site-foter-links{
  width: 224px;
}
.site-foter-links{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  columns: #252420;

}
.site-foter-links:hover{
  color: #FF7500;
}
.site-foter-links:focus{
opacity: 0.6;
}
